{% extends "base.html" %}
{% block content %}

<h1> Edit Feedback </h1>
<form method = "POST" action = "/feedback/{{feedback.id}}/update">
    {{form.hidden_tag()}}
    {% for field in form.errors %}
        <ul>
            {% for error in form.errors[field] %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    
    {% for field in form%}
        {% if field.widget.input_type != 'hidden' %}
            {{field.label}}
            {{field}}
            <br>
        {% endif %}
    {% endfor %}
    <button type = "submit"> Edit </button>
</form>

{% endblock %}